@{
  ViewData["Title"] = "Create Photo Booth";
}

@model PhotoBooth.Models.Booth

<h4>You're not allowed to create a photobooth.</h4>

<!-- <h4>Add a new photo booth to the list.</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Location)
  @Html.TextBoxFor(model => model.Location)
  <br />
  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address)
  <br />
  @Html.LabelFor(model => model.Neighborhood)
  @Html.TextBoxFor(model => model.Neighborhood)
  <br />
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <br />
  @Html.LabelFor(model => model.Color)
  @Html.TextBoxFor(model => model.Color)
  <br />
  <input type="submit" value="Add new booth" class="btn btn-primary"/>
}

<br />
<p>@Html.ActionLink("Back to all booths", "Index")</p> -->